---
import BaseLayout from "../layouts/BaseLayout.astro";

const identity = {
  firstName: "Ignacio",
  country: "Argentina",
  occupation: "Programador",
  hobbies: ["programming", "chess", "football"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 1;
const skillColor = "navy";
---

<BaseLayout pageTitle="About">
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.country} and I work as a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  {happy && <p>I am happy to be learning Astro!</p>}

  {finished && <p>I finished this tutorial!</p>}

  {
    goal === 1 ? (
      <p>My goal is to finish in {goal} days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }
</BaseLayout>

<style define:vars={{ skillColor }}>
  h1 {
    color: darkblue;
    font-size: xx-large;
  }
  .skill {
    color: var(--skillColor);
    font-weight: bold;
  }
</style>
